In [1]:
#this is a comment line

In [2]:
print("hfjdfgjdhfb)

SyntaxError: unterminated string literal (detected at line 1) (567147703.py, line 1)

In [4]:
print("nhvbdjv"
     )

nhvbdjv

In [5]:
print "this is a string"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (195353503.py, line 1)

In [6]:
#single comment line
"""multiple line of commnets
hjsc
dshcgjdsc
sajhcvdjc
dbcj"""
1+2

3

In [7]:
'''hxcvj
hcvbxcjhvbjcx
cjxbvjc'''
print('single quote works"like this"')

single quote works"like this"

In [10]:
"""
jhsdgcjdsvh
dhbjds
sjdbchkj
"""

'\njhsdgcjdsvh\ndhbjds\nsjdbchkj\n'

In [11]:
#hgdcfdh

In [12]:
a=10

In [13]:
print(a)

10

In [14]:
a=5

In [15]:
a

5

In [1]:
a=10
a

10

In [2]:
a="10"
a

'10'

In [3]:
type(a)

str

In [4]:
type(b)

NameError: name 'b' is not defined

In [5]:
b="shweta"
type(b)

str

In [6]:
d="string'

SyntaxError: unterminated string literal (detected at line 1) (1829367394.py, line 1)

In [7]:
c=34'string'

SyntaxError: invalid syntax (2152104722.py, line 1)

In [8]:
type(c)

NameError: name 'c' is not defined

In [9]:
c= 34 + 'shweta'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
print(d)

NameError: name 'd' is not defined

In [11]:
d= 34

In [12]:
print(d)

34

In [13]:
print(a)

10

In [14]:
print(a,d)

10 34

In [15]:
print(a,d,"string1")

10 34 string1

In [16]:
a = print(a,d,"string")

10 34 string

In [17]:
a

In [18]:
print(a)

None

In [19]:
type(a)

NoneType

In [20]:
a=5

In [21]:
b=10

In [22]:
a,b = 6, 11

In [23]:
a b

SyntaxError: invalid syntax (210263012.py, line 1)

In [24]:
a,b

(6, 11)

In [25]:
a,b,s = 10, 15.08, "shweta"

In [26]:
a

10

In [27]:
b

15.08

In [28]:
s

'shweta'

In [29]:
a,b,s

(10, 15.08, 'shweta')

In [30]:
d = a,b,s

In [31]:
d

(10, 15.08, 'shweta')

In [32]:
type(d)

tuple

In [33]:
type(b)

float

In [34]:
type(a,b,s)

TypeError: type.__new__() argument 1 must be str, not int

In [35]:
print(''this is a string'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1211590247.py, line 1)

In [36]:
print('this is a string')

this is a string

In [37]:
print("'this is a string'")

'this is a string'

In [38]:
1b ='string'

SyntaxError: invalid decimal literal (3320927403.py, line 1)

In [39]:
1b = "string"

SyntaxError: invalid decimal literal (3689213822.py, line 1)

In [40]:
1b ="shweta"

SyntaxError: invalid decimal literal (863797316.py, line 1)

In [41]:
A = "shweta"

In [42]:
A

'shweta'

In [43]:
@b= 7645

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2342117497.py, line 1)

In [44]:
_a=76324

In [45]:
_a

76324

In [46]:
-a = 7834

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1296343693.py, line 1)

In [47]:
b& ="hdgj"

SyntaxError: invalid syntax (146726292.py, line 1)

In [48]:
b2="dhgjds"

In [49]:
b2

'dhgjds'

In [50]:
name ='shweta'
userId = 'shwetamahapatra330'
password='xyz1234'
mailId= 'shweta.maha@ai.com'

In [51]:
a =1.5 2.4

SyntaxError: invalid syntax (810756369.py, line 1)

In [52]:
type(a)

int

In [53]:
a

10

In [54]:
a = true

NameError: name 'true' is not defined

In [55]:
a = True

In [56]:
type(a)

bool

In [57]:
a

True

In [58]:
True + True + True + False +True

4

In [59]:
False - True + True

0

In [60]:
False

False

In [61]:
True / False

ZeroDivisionError: division by zero

In [62]:
False/True

0.0

In [63]:
n = 45 + 6j

In [64]:
n

(45+6j)

In [65]:
type(n)

complex

In [66]:
n.real

45.0

In [67]:
n.imag

6.0

In [68]:
m= 45 + 7h
#j is the only variable to represent imaginary part of a complex number

SyntaxError: invalid decimal literal (3102487712.py, line 1)

In [69]:
n = 45 + 6j
m = 10 + 5j
n*m

(420+285j)

In [70]:
1 + "shweta"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
"shweta" + "mahapatra"

'shwetamahapatra'

In [74]:
str(1) +  'shweta'
#type casting, converting int type 1 into str type '1' 
#strong type casting - only similar type operations are possible

'1shweta'

In [75]:
'1' + 'shweta'

'1shweta'

In [76]:
1 + 1.0
#converts the o/p to float type (upcasting)

2.0

In [77]:
name = 'shweta'
name+'mahapatra'

'shwetamahapatra'

In [78]:
"shweta"*3

'shwetashwetashweta'

In [79]:
"shweta "*3

'shweta shweta shweta '

In [80]:
'shweta'/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [81]:
"shweta" * "shweta"

TypeError: can't multiply sequence by non-int of type 'str'

In [82]:
int('shweta')

ValueError: invalid literal for int() with base 10: 'shweta'

In [83]:
int('23')

23

In [84]:
a = 10

In [85]:
a = input()

23

In [86]:
a

'23'

In [87]:
b = input()

45.0

In [88]:
b

'45.0'

In [89]:
int(b)

ValueError: invalid literal for int() with base 10: '45.0'

In [90]:
int(a)

23

In [91]:
a = input("Enter an integer")

Enter an integer45

In [92]:
a

'45'

In [93]:
int(a)

45

In [94]:
a = input(enter)

NameError: name 'enter' is not defined

In [95]:
a=input(10)

1045

In [96]:
a

'45'

In [97]:
"""take 3 integers input from user using input()
a,b,c
d = (a+b)/c
e = d + complexVariable
e + "your name"
"""

'take 3 integers input from user using input()\na,b,c\nd = (a+b)/c\ne = d + complexVariable\ne + "your name"\n'

In [99]:
a = int(input("enter a number"))
b = int(input("enter b"))
c = int(input("enter c"))

enter a number10
enter b5
enter c20

In [100]:
a,b,c

(10, 5, 20)

In [101]:
d = (a+b)/c

In [102]:
d

0.75

In [103]:
e = d + (56+7j)

In [104]:
e

(56.75+7j)

In [105]:
str(e) + "shweta"

'(56.75+7j)shweta'

In [111]:
a = int(input("input a number lesser tahn 34----"))

input a number lesser tahn 34----23

In [112]:
a

23

In [113]:
if(a < 34)
print("valid number entered")

SyntaxError: expected ':' (2131364543.py, line 1)

In [114]:
if(a<34):
    print("valid number entered")

valid number entered

In [115]:
if a < 34 :
    pass

In [117]:
if a < 34 :
    print("data input is lesser than 34")

data input is lesser than 34

In [119]:
a = int(input("input a number----  "))
if a < 100:
    print(" number is less than 100")

input a number----  10
 number is less than 100

In [120]:
if(a<10):
print('indentation error, bcz it is treating print as different statement')

IndentationError: expected an indented block after 'if' statement on line 1 (1484492274.py, line 2)

In [121]:
if(a<100):
    print('statement 1')
    print('statement 2')

statement 1
statement 2

In [122]:
a= int(input("Enter a number "))
if(a<100): 
    pass
print("a is ", a)

Enter a number 10
a is  10

In [124]:
a = int(input("Enter a number "))
if a < 100:
    print("This number is less than 100")
else: 
    print("Number is greater than or equal to 100")

Enter a number 100
Number is greater than or equal to 100

In [125]:
a = int(input("Enter a number"))
if a < 100: 
    print("Number is less than 100")
elif a> 100: 
    print("Number is greater than 100")
else: 
    print("Number is equal to 100")

Enter a number100
Number is equal to 100

In [126]:
a = int(input("Enter a number "))
if a < 100: 
    print("Number is less than 100")
elif a> 100: 
    print("Number is greater than 100")
else: 
    print("Number is equal to 100")

Enter a number 105
Number is greater than 100

In [127]:
a = int(input("Enter a number "))
if a < 100: 
    print("Number is less than 100")
elif a> 100: 
    print("Number is greater than 100")
else: 
    print("Number is equal to 100")

Enter a number 12
Number is less than 100

In [128]:
salary = int(input("ENter your Salary "))
if salary > 1000:
    print("You can afford a car")
elif salary > 500:
    print("You can afford a bike")
elif salary > 100:
    print("You can afford a cycle")
else:
    print("you can afford a job")

ENter your Salary 1000
You can afford a bike

In [129]:
salary = int(input("ENter your Salary "))
if salary > 1000:
    print("You can afford a car")
elif salary > 500:
    print("You can afford a bike")
elif salary > 100:
    print("You can afford a cycle")
else:
    print("you can afford a job")

ENter your Salary 1500
You can afford a car

In [131]:
salary = int(input("ENter your Salary "))
if salary > 1000:
    print("You can afford a car")
elif salary > 500:
    print("You can afford a bike")
elif salary > 100:
    print("You can afford a cycle")
else:
    print("you can afford a better job")

ENter your Salary 200
You can afford a cycle

In [133]:
salary = int(input("ENter your Salary "))
if salary > 1000:
    print("You can afford a car")
elif salary > 500:
    print("You can afford a bike")
elif salary > 100:
    print("You can afford a cycle")
else:
    print("you can afford a better job")

ENter your Salary 2
you can afford a better job

In [134]:
salary = int(input("ENter your Salary "))
if salary < 1000:
    print("You can afford a car")
elif salary < 500:
    print("You can afford a bike")
elif salary < 100:
    print("You can afford a cycle")
else:
    print("you can afford a better job")

ENter your Salary 10
You can afford a car

In [135]:
salary = int(input("ENter your Salary "))
if salary < 1000:
    print("You can afford a car")
if salary < 500:
    print("You can afford a bike")
if salary < 100:
    print("You can afford a cycle")
else:
    print("you can afford a better job")

ENter your Salary 90
You can afford a car
You can afford a bike
You can afford a cycle

In [136]:
salary = int(input("ENter your Salary "))
if salary > 1000:
    print("You can afford a car")
if salary > 500:
    print("You can afford a bike")
if salary < 100:
    print("You can afford a cycle")
else:
    print("you can afford a better job")

ENter your Salary 20
You can afford a cycle

In [139]:
salary = int(input("Enter your salary "))
if salary >= 5000:
    tax = int(input("Enter tax% "))
    inHandSal = salary - ((tax/100)*salary)
    print("your in hand salary is - ", int(inHandSal))
    
else:
    print("Your in hand salary is- ", salary)

Enter your salary 6000
Enter tax% 10
your in hand salary is -  5400

In [140]:
salary = int(input("Enter your salary "))
if salary >= 5000:
    tax = int(input("Enter tax% "))
    inHandSal = salary - ((tax/100)*salary)
    print("your in hand salary is - ", int(inHandSal))
    
else:
    print("Your in hand salary is- ", salary)

Enter your salary 1000
Your in hand salary is-  1000

In [1]:
salary = int(input("Enter your salary "))
if salary >= 5000:
    tax = int(input("Enter tax% "))
    inHandSal = salary - ((tax/100)*salary)
    print("your in hand salary is - ", int(inHandSal))
    
else:
    print("Your in hand salary is- ", salary)

Enter your salary 5000
Enter tax% 10
your in hand salary is -  4500

In [2]:
salary = int(input("Enter your salary- "))
if salary > 1000:
    print("your salary is good")
    if salary > 5000:
        print("i will go with a nano car")
        if True:
            print("False code")
    elif salary > 10000:
        print("I will go with maruti")
    elif salary > 50000:
        print("I will go with Toyota")
    else: 
        print("I will rent a car")
elif salary > 500:
    print("I will go for bike")
else: 
    print("I will go for saving")

Enter your salary- 4000
your salary is good
I will rent a car

In [3]:
1+2

3

In [4]:
a = 10
b = 20

if a == 10 and b == 20:
    print("this is inside if statement")

this is inside if statement

In [15]:
a = 10
b = 20

if a == 10 & b == 20:
    print("this is inside if statement")
else :
    print("condition is not valid", a==10 & b==20)

condition is not valid False

In [6]:
1+2

3

In [8]:
a = 10
b = 20

if a == 10 and b == 20:
    print("this is inside if statement")

this is inside if statement

In [9]:
a == 10 and b == 20

True

In [10]:
a == 10 && b == 20

SyntaxError: invalid syntax (3621348907.py, line 1)

In [11]:
a ==10 & b == 20

False

In [12]:
a & b

0

In [16]:
a==10 | b==20

False

In [17]:
a | b

30

In [20]:
"""
Take input from user as first name and last name and then try to validate of write multiple condition by yourself
"""


firstName = input("Enter your first name- ")
lastName = input("ENter your last name- ")
if(firstName == 'Shweta' or firstName == 'shweta') or (lastName == 'Mahapatra' or lastName == 'mahapatra'):
    print("Correct Name")
elif(firstName == 'Shweta' or firstName == 'shweta') and (lastName == 'Mahapatra' or lastName == 'mahapatra'):
    print("Correct name")
else:
    print("Please check the spelling or try again with correct name")

Enter your first name- shweta
ENter your last name- mahapatra
Correct Name

In [24]:

firstName = input("Enter your first name- ")
lastName = input("ENter your last name- ")
if(firstName == 'Shweta' or firstName == 'shweta') or (lastName == 'Mahapatra' or lastName == 'mahapatra'):
    print("Partially Correct Name")
elif(firstName == 'Shweta' or firstName == 'shweta') and (lastName == 'Mahapatra' or lastName == 'mahapatra'):
    print("Correct name")
else:
    print("Please check the spelling or try again with correct name")

Enter your first name- Shruti
ENter your last name- Mahapatra
Partially Correct Name

In [3]:
#While statement

initial_speed = 0
final_speed = 100
while initial_speed < final_speed:
    print('Speed can be increased')
    initial_speed = initial_speed + 10

Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased
Speed can be increased

In [4]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("speed")
    count = count + 1
    if count == 10:
        break

speed
speed
speed
speed
speed
speed
speed
speed
speed

In [5]:
i = 0
j = 5
while i < j:
    print(i)
    i = i + 1

0
1
2
3
4

In [6]:
notes = 5
i = 0
while i < notes:
    print(i)
    i+=1
else : 
    print("no 10rs notes are available")

0
1
2
3
4
no 10rs notes are available

In [3]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i+=1
else: 
    while i<7:
        print("i in second while", i)
        i+=i
        j+=j
    print("no 10rs notes are available")

1
2
3
4
i in second while 5
no 10rs notes are available

In [4]:
bacon = 22

In [5]:
bacon + 1
bacon

22

In [6]:
bacon = 22
bacon + 1

23

In [7]:
bacon

22

In [3]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i+=1
while i<7:
        print("i in second while", i)
        i+=i
        j+=j
print("no 10rs notes are available")

1
2
3
4
i in second while 5
no 10rs notes are available

In [8]:
s = "shweta"
s[-1]
s[0]

's'

In [10]:
s = 'My name is Shweta'
s[2]

' '

In [11]:
s[3:8]

'name '

In [12]:
s[3:8:10]

'n'

In [25]:
s[3:8:2]
#slice step
'''the last index is the step size i.e it will start from 3rd index and loop till 7th and jump with 2 steps
i.e 3 (3+2) (3+2+2)... till 7th. By default the step size is 1
'''

'the last index is the step size i.e it will start from 3rd index and loop till 7th and jump with 2 steps\ni.e 3 (3+2) (3+2+2)... till 7th\n'

In [26]:
s[3:8:-1]

''

In [28]:
s[10:2:-1]

' si eman'

In [29]:
s[::-1]

'atewhS si eman yM'

In [15]:
s='My name is shweta'
length = 8
i = 3
while(i<length):
    print(i,s[i:length])
    i+=1

3 name
4 ame
5 me
6 e
7

In [4]:
s

'My name is Shweta'

In [9]:
s[2:-6]

' name is '

In [10]:
s

'My name is Shweta'

In [11]:
for i in s:
    print(i)

M
y

n
a
m
e

i
s

S
h
w
e
t
a

In [16]:
for i in s:
    if(i=='s') : 
        print("I got s as a string")
    print(i)

M
y

n
a
m
e

i
I got s as a string
s

I got s as a string
s
h
w
e
t
a

In [17]:
for i in s:
    print(i)
    
else: 
    print("this is a else condition")

M
y

n
a
m
e

i
s

s
h
w
e
t
a
this is a else condition

In [20]:
for i in s:
    print(i)
else: 
    if i == 'a':
        print("last character is", i)
    print("this is a else statement")

M
y

n
a
m
e

i
s

s
h
w
e
t
a
last character is a
this is a else statement

In [21]:
for i in s:
    print(i)
if i == 'a':
    print("last character is", i)
print("this is a else statement")

M
y

n
a
m
e

i
s

s
h
w
e
t
a
last character is a
this is a else statement

In [24]:
for i in s:
    if i == 's':
        break
    print(i)
else:
    if i == 'a': 
        print("last char was", i)
    print("thsi is else condition")
    
#else will work only when for will execute completely. here else wont get executed because the loop was broken with break keyword

M
y

n
a
m
e

i

In [27]:
for i in s:
    if i == 'n':
        continue
    print(i)
else:
    if i == 'a': 
        print("last char was", i)
    print("thsi is else condition")

M
y

a
m
e

i
s

s
h
w
e
t
a
last char was a
thsi is else condition

In [37]:
s = 'ineuron'
ss= ''
for i in range(len(s)):
    print(i)
    if s[i] == 'n':
        continue
    else:
        ss = ss + s[i]
        

        
ss

0
1
2
3
4
5
6

'ieuro'

In [30]:
len(s)

7

In [31]:
range(len(s))

range(0, 7)

In [32]:
range(7)

range(0, 7)

In [33]:
d = range(7)

In [34]:
d

range(0, 7)

In [41]:
n= 7
for i in range(0,n):
    for j in range(0, i+1):
        print("+ ", end = "")
    print("\r")
    
    
#range(0,n) = [1,2,3,....,n-1]

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [1]:
range(7,0,-1)

range(7, 0, -1)

In [6]:
for i in range (7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [7]:
for i in range (7,0,-1):
    for i in range(i):
        print(" ", "*", end= "")
        
    print("\r")

  *  *  *  *  *  *  *
  *  *  *  *  *  *
  *  *  *  *  *
  *  *  *  *
  *  *  *
  *  *
  *

In [11]:
l =list()
#in python core we dont have array but Lists

In [12]:
name = "Shweta"
phno = 84568923
addr = "Sonepur"

name, phno, addr = "Shweta", 84568923, "Sonepur"

In [9]:
l = ["Shweta", 865344934, "Sonepur", True, ["another list", 8449, 7, 100,False]]

In [3]:
l

['Shweta', 865344934, 'Sonepur', True, ['another list', 8449, False]]

In [25]:
l[0]

'Shweta'

In [26]:
l[1]

865344934

In [27]:
l[2]

'Sonepur'

In [28]:
type(l)

list

In [19]:
l1 =[]

In [20]:
type(l1)

list

In [30]:
list

['Shweta', 865344934, 'Sonepur']

In [1]:
list

list

In [3]:
l2 = list()

In [4]:
type(l2)

list

In [4]:
  l

['Shweta', 865344934, 'Sonepur', True, ['another list', 8449, False]]

In [5]:
for i in l:
    print (type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>

In [6]:
for i in l:
    if type(i) == list:
        for j in i :
            print(type(j))

<class 'str'>
<class 'int'>
<class 'bool'>

In [11]:
n = 0
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                n = n+j
print(n)

8556

In [12]:
l[0:5]

['Shweta', 865344934, 'Sonepur', True, ['another list', 8449, 7, 100, False]]

In [13]:
l[0:3]

['Shweta', 865344934, 'Sonepur']

In [16]:
l[80:5:-1]

[]

In [17]:
l[5:3:-1]

[['another list', 8449, 7, 100, False]]

In [18]:
l[1:4]

[865344934, 'Sonepur', True]

In [19]:
l[4:1:-1]

[['another list', 8449, 7, 100, False], True, 'Sonepur']

In [20]:
l[4]

['another list', 8449, 7, 100, False]

In [21]:
l[4:0:-1]

[['another list', 8449, 7, 100, False], True, 'Sonepur', 865344934]

In [22]:
l[4:-1:-1]

[]

In [7]:
lst = list(range(10))

In [8]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
l1 = list()

In [4]:
l1

[]

In [5]:
l1 = list(range(10))

In [6]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
len(l1)

10

In [11]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a = 'shweta'

In [13]:
a

'shweta'

In [16]:
a1 = 'this is my first class for full stack data science, I've joined this class today'

SyntaxError: unterminated string literal (detected at line 1) (1635985323.py, line 1)

In [19]:
a1

'this is my first class for full stack data science, I have joined this class today'

In [2]:
a2 = "My name is shweta and I've joine this class today"

In [3]:
a2

"My name is shweta and I've joine this class today"

In [4]:
 a2[100]

IndexError: string index out of range

In [5]:
len(a2)

49

In [6]:
a2[50]

IndexError: string index out of range

In [7]:
a2[49]

IndexError: string index out of range

In [8]:
a2[48]

'y'

In [9]:
a2[4:10]

'ame is'

In [10]:
a2[4:100]

"ame is shweta and I've joine this class today"

In [11]:
a2[4:100:2]

'aei heaadIv on hscastdy'

In [12]:
a2[4:100:-1]

''

In [13]:
a2

"My name is shweta and I've joine this class today"

In [15]:
for i in a2:
    print(i)

M
y

n
a
m
e

i
s

s
h
w
e
t
a

a
n
d

I
'
v
e

j
o
i
n
e

t
h
i
s

c
l
a
s
s

t
o
d
a
y

In [18]:
for i in range(len(a2)):
    print (a2[i])

M
y

n
a
m
e

i
s

s
h
w
e
t
a

a
n
d

I
'
v
e

j
o
i
n
e

t
h
i
s

c
l
a
s
s

t
o
d
a
y

In [19]:
a2[::1]

"My name is shweta and I've joine this class today"

In [20]:
a2[::-1]

"yadot ssalc siht enioj ev'I dna atewhs si eman yM"

In [21]:
a2[::]

"My name is shweta and I've joine this class today"

In [22]:
a2[0] = "x"

TypeError: 'str' object does not support item assignment

In [23]:
l = ["shweta", 3458,85.586, True]

In [24]:
l[0]

'shweta'

In [25]:
l[0] = "Arnab"

In [27]:
l

['Arnab', 3458, 85.586, True]

In [28]:
s = 'my name is'

In [29]:
s.find("name")

3

In [30]:
s.find('x')

-1

In [31]:
s.find("my")

0

In [32]:
s.find(0)

TypeError: must be str, not int

In [33]:
s.find(jhdgj)

NameError: name 'jhdgj' is not defined

In [34]:
s.find("n")

3

In [35]:
b = s.find("name")
for i in range(len("name")):
    print(b + i)

3
4
5
6

In [36]:
s

'my name is'

In [37]:
s.count("m")

2

In [38]:
s.split()

['my', 'name', 'is']

In [3]:
s="my name is shweta, i like watching cricket"

In [40]:
s.split(',')

['my name is shweta', ' i like watching cricket']

In [41]:
s.split('n')

['my ', 'ame is shweta, i like watchi', 'g cricket']

In [42]:
s.upper()

'MY NAME IS SHWETA, I LIKE WATCHING CRICKET'

In [43]:
s.lower()

'my name is shweta, i like watching cricket'

In [44]:
s.upper()

'MY NAME IS SHWETA, I LIKE WATCHING CRICKET'

In [4]:
s

'my name is shweta, i like watching cricket'

In [46]:
s = 'My name is Shweta, I like watching Cricket'

In [47]:
s

'My name is Shweta, I like watching Cricket'

In [48]:
s.swapcase()

'mY NAME IS sHWETA, i LIKE WATCHING cRICKET'

In [49]:
" ".join(s)

'M y   n a m e   i s   S h w e t a ,   I   l i k e   w a t c h i n g   C r i c k e t'

In [50]:
"*".join(s)

'M*y* *n*a*m*e* *i*s* *S*h*w*e*t*a*,* *I* *l*i*k*e* *w*a*t*c*h*i*n*g* *C*r*i*c*k*e*t'

In [51]:
s.join(" ")

' '

In [52]:
reversed(s)

In [53]:
list(reversed(s))

['t',
 'e',
 'k',
 'c',
 'i',
 'r',
 'C',
 ' ',
 'g',
 'n',
 'i',
 'h',
 'c',
 't',
 'a',
 'w',
 ' ',
 'e',
 'k',
 'i',
 'l',
 ' ',
 'I',
 ' ',
 ',',
 'a',
 't',
 'e',
 'w',
 'h',
 'S',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'M']

In [54]:
s.strip()

'My name is Shweta, I like watching Cricket'

In [55]:
s1= '       shweta     '

In [56]:
s1

'       shweta     '

In [57]:
s1.strip()

'shweta'

In [58]:
s1.lstrip()

'shweta     '

In [60]:
s1.rstrip()

'       shweta'

In [61]:
s1.removesuffix()

TypeError: str.removesuffix() takes exactly one argument (0 given)

In [62]:
s1.removeprefix(0)

TypeError: removeprefix() argument must be str, not int

In [9]:
s.replace("shweta", "arnab").replace("like", "hate")

'my name is arnab, i hate watching cricket'

In [10]:
s

'my name is shweta, i like watching cricket'

In [20]:
m = 'shwetaaa'

In [12]:
m

'shweta'

In [13]:
m.center(23,'@')

'@@@@@@@@@shweta@@@@@@@@'

In [14]:
m.center(4,"@")

'shweta'

In [15]:
m.center(3,"@")

'shweta'

In [19]:
m.center(11,"@")

'@@@shweta@@'

In [21]:
m.replace("a", "e")

'shweteee'

In [22]:
m

'shwetaaa'

In [23]:
 m = 'shweta'

In [24]:
m.center(10,"ty")

TypeError: The fill character must be exactly one character long

In [26]:
m.center(10,"t")

'ttshwetatt'

In [27]:
m

'shweta'

In [28]:
m= "shweta\tmahapatra"

In [29]:
m

'shweta\tmahapatra'

In [31]:
m.expandtabs()

'shweta  mahapatra'

In [32]:
#take a string a = "we all are a part of full stack"
#Normalize all the string in lowercase
#find number of occurances of a in entire data
#Find all the location/index of a in string
#replace all the a with ineuraon
#print all the word as a list

a = "We all are a part of Full Stack"
a.lower()

'we all are a part of full stack'

In [34]:
a.count("a")

5

In [35]:
a.find("a")

3

In [36]:
a.replace("a", "iNeuron")

'We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [37]:
a.split(" ")

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [42]:
count = -1
for i in a:
    count= count+1
    if(i=='a'):
        print(count)

3
7
11
14
28

In [43]:
for i in range(len(a)):
    if(a[i] == 'a'):
        print(i)

3
7
11
14
28